<div class="banner" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 0) 100%), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/confetti-falling-on-purple-background_-j_wgfzwh__F0000.png');">
  <div class="banner-content">
    <h1>PartyApp</h1>
    <p>Find the party you've always dreamed of</p>
    <a class="btn-letsgo btn-primary btn-lg">Let's go!</a>
    <a class="btn-listspace btn-primary btn-lg">Add a space!</a>
  </div>
</div>

<div class="index-wrapper">
<<<<<<< HEAD
  <div class="container">
    <div class="row">
      <% if @spaces.count >= 1 %>
        <% @spaces.each do |space| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photo, width: 300, height: 300, crop: :fill unless space.photo.blank? %>')">
              <div class="card-description">
                <h2><%= space.name %></h2>
                <p><%= space.reviews.count == 1 ? "1 review" : "#{space.reviews.count} reviews" %></p>
=======
  <div class="main-container">
        <div class="card-container">
          <div class="row">
            <% if @spaces.count >= 1 %>
              <% @spaces.each do |space| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="card card-cascade narrower" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photo, width: 300, height: 300, crop: :fill unless space.photo.blank? %>')">
                      <div class="card-description"><
                        <h4 style="justify-content"><%= space.name %></h4>
                              </div>
                          <a class="card-link" href=<%= space_path(space) %>></a>
                              </div>
                            </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
           <div
            id="map"
            style="width: 100%;
            height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
                </div>
>>>>>>> 282bcf928deb0e53110c98412700160fa1b2c2d8
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
