<p id="notice"><%= notice %></p>

<div class="flex-container">
  <div class="card-container">
   <div class="row">
    <div class ="col-xs-12 col-sm-6 col-md-4 col-lg-3 flex-item">
      <h2 class="text-center"><%= @space.name %></h2>
      <%= cl_image_tag @space.photo, height: 300, width: 400, crop: :fill %>
      <p><%= @space.description %></p>
      <p><%= @space.address %></p>
      <% if policy(@space).edit? %>
      <% end %>
      <p> <%= link_to "Book your party", '#', class: 'btn-blue' %>
</p>
      <p><%= link_to 'Back', spaces_path %></p>
    </div>
  </div>
</div>
</div>

<!--
<button type="btn-blue">Book your party</button>'
 -->


<% if policy(@space).edit? %>

<% end %>
<%= link_to 'Back', spaces_path %>
<%= link_to 'Book your party!', new_space_booking_path(@space) %>


