



  <div class="wrapper" id="spaceshow">
    <div class="jumbotron" id="intro">
      <h2 id="spaceintro">Spaces To Party</h2>
        <p id="spaceintro"><i>for when you really need space to party</i></p>
    </div>
    <div style="width: 60%; float:left">
        <div class="example-item">
        <%= cl_image_tag @space.photo, height: 300, width: 600, crop: :fill %>
      </div>
    </div>
    <div style="width: 40%; float:right">
        <div
        id="map"
        style="width: 400px;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
  </div>

  <div class="div">



<p><%= @space.description %></p>
        <p><%= @space.address %></p>
         <h4>Reviews</h4>
         <ul>
            <% @space.reviews.each do |review| %>
              <li>
              <p><%= review.content %></p>
              </li>
            <% end %>
          </ul>
        <br><br>
        <% if policy(@space).edit? %>
        <% end %>
        <p> <%= link_to "Book your party", new_space_booking_path(@space), class: "btn btn-primary" %></p>
        <% if policy(@space).edit? %>
        <% end %>
        <%= link_to 'Back', spaces_path %>
 </div>

</div>
