<%= simple_form_for [@space, @booking] %>

<%= @booking.each do |b| %>
<% b.label :name %>
<%= b.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= t.label :address %>
  <%= t.text_field :address, class: 'form-control' %>
</div>
<div class="form-group">
  <%= t.label :category %>
  <%= t.text_field :category, class: 'form-control' %>
</div>
<% %>
