<%= simple_form_for [@space, @booking] %>

<%= @booking.each do |b| %>
<% b.label :theme %>
<%= b.text_field :theme, class: 'form-control' %>
</div>
<div class="form-group">
  <%= t.label :date %>
  <%= t.text_field :date, class: 'form-control' %>
</div>
<div class="form-group">
  <%= t.label :category %>
  <%= t.text_field :category, class: 'form-control' %>
</div>
<% end %>
