<%= simple_form_for ([@space, @booking]) do  |b|  %>
<%= b.input :theme %>
<%= b.text_field :theme, class: 'form-control' %>
</div>
<div class="form-group">
  <%= b.input :date %>
  <%= b.text_field :date, class: 'form-control' %>
</div>
<% end %>
